<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.commcare.respiratory">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/app_name" android:icon="@drawable/micon">
        <activity android:label="@string/app_name" android:name="org.commcare.respiratory.BreathCounterActivity" android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.commcare.respiratory.BREATHCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>